@import "tailwindcss";

html, body {
    margin: 0;
    padding: 0;
    height: 100%; /* Ensure the full height of the page is used */
  }
  

#home{
    width: 99vw;
    height: 100vh;
    background-image: url("../public/backgroundplanity.jpg");
    background-size: cover;

}
#home>h1{
    color: white;
    text-align: center;
    padding-top: 19%;
    font-size: 2.5em;
}
#home>span{
    color: white;
    margin-left: 45%;
}
#search{
    background-color: white;
    border-radius: 1em;
    width: 65%;
    margin: auto;
    padding: 1% 2%;
    display: flex;
    margin-top: 2%;
}
#search label{
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    margin-right: 2%;

}
#search span{
    width: 100%;
}
form input{
    width: 100%;
}
#search button[type="submit"]{
    background-color: black;
    width: 15%;
    height: 7vh;
    margin-top: 1.5%;
    color: white;
    border-radius: 1em;
}

h2{
    font-size: 2.7em;
    line-height: 1.2em;
    font-weight: 400;
}
h3{
    font-size: 1.5em;
    font-weight: 500
}
p{
    color: rgb(68, 68, 68);
    font-size: 1.3em;
    font-weight: 400;
}
article{
    display: flex;
    flex-wrap: wrap;
}
#discover>div{
    display: flex;
    flex-wrap: wrap;
    margin: 5% 0;
    justify-content: space-between;

}
#discover img{
    border-radius: 2em;
    width: 22%;
}
#discover div div{
    width: 42%;
    padding-bottom: 2%;
    margin: 0 2%;
}
#discover h3{
    line-height: 5em;
}

.black{
    background-color: black;
    color: white;
    padding: 4% 0;
}
.grey{
    color: rgb(133, 133, 133);
    font-weight: 700;
    font-size: .9em;
    border-bottom: solid rgb(27, 27, 199) 2px;
    
}
.black .grey{
    margin-left: 48.5%;
}
.black h2{
    width: 100%;
    text-align: center;
    margin: 2% 0;
}
.black img{
    border: solid rgb(80, 80, 80) 1px;
    width: 18%;
    padding: 2% 4%;
}
.black img:first-of-type{
    margin-left: 15%;
}
.stats{
    width: 68%;
    margin: 6% auto;
}
.stats h2{
    margin-top: 2%;
    width: 80%;
    margin-right: 10%;
}
.stats section{
    display: flex;
    flex-wrap: wrap;
    margin-top: 3%;
    width: 100%;
}
.stats div{
    width: 33%;
    border: solid rgb(185, 185, 185) 1px;
    padding: 5% 4%;
}

.articlegrey{
    background-color: rgb(248, 248, 248);
    padding: 10% 12%;
    justify-content: space-around;
}
.articlegrey img{
    width: 50%;
    border-radius: 1em;
}
.articlegrey div{
    width: 40%;
    margin-left: 10%;
}
.articlegrey h2{
    margin: 3% 0;
}
.articlegrey p{
    margin-bottom: 8%;
}
.articlegrey a{
    background-color: black;
    border-radius: 1em;
    color: white;
    width: 15%;
    padding: 3%;
    font-size: .9em;
}
#saloncity{
    display: flex;
    flex-wrap: wrap;
    border: none;
}
#saloncity div{
    width: 27%;
    border: none;
}
#saloncity p{
    font-size: 1em;
    margin: 10% 0;
}
#saloncity ul li{
    margin: 3% 0;
}



#login, #register {
    width: 100vw;
    background:RGB(247, 247, 247);
    background-size: cover;
}




/* ////////////////////////////////////////////////////////// */
/* //////////////      TYPE SALON /////////////////////////// */

#namesalon{
    background-color: rgb(247, 247, 247);
    padding-bottom: 5%;
}
#namesalon h1{
    font-size: 2.6em;
    text-align: center;
    padding-top: 8%;
}

#listeville{
    width: 80%;
    margin: auto;
    margin-top: 2%;
    justify-content: space-between;
}
#listeville>span{
    width: 100%;
    margin: 3% 0;
}

#villea{
   width: 32%;
   border-radius: 1em;
    box-shadow: 2px 10px 10px 4px rgba(0,0,0,.1);
    margin-bottom: 4%;
    padding-bottom: 1%;
}
#villea img{
    width: 100%;
    border-radius: 1em 1em 0 0;
    padding-bottom: 3%;
}
#villea span,#villea h3{
    padding: 0 3%;
}
#villea h3{
    font-size: 1.4em;
}
#conseils{
    width: 55%;
    margin: auto;
    margin-bottom: 5%;
}
#conseils h4{
    font-size: 2em;
    margin: 3% 0;
}
#conseils p{
    line-height: 1.3em;
    font-size: 1.2em;
}
#conseils img{
    width: 100%;
    margin: 5% 0;
}
#conseils h3{
    margin: 5% 0 2%;
}
#conseils ul{
    display: flex;
    flex-wrap: wrap;
}
#conseils li{
    width: 50%;
    margin-bottom: 2%;
}